<h1>How To Wash Your Face</h1>
<p>
    In order to wash your face {{ Req.Query.Adverb }}, you must wet your {{ Req.Query.Noun }} in warm {{ Req.Query.Liquid }}. Then, {{ Req.Query.Verb }} it across your face {{ Req.Query.Number }} times. This will wash off any remainig {{ Req.Query.Noun_plural }}. When you are done you should {{ Req.Query.Verb_2 }} the cloth in {{ Req.Query.Adjective }} water to clean it. You should also wash your face with a {{ Req.Query.Noun }} to keep it smooth and shiny. This will keep also keep away {{ Req.Query.Noun_plural }}. Don`t worry. It is normal to experience {{ Req.Query.Illness }} the first time you try this. Consult your {{ Req.Query.Occupation }} if you break out in {{ Req.Query.Body_part_plural }}. This works well on your {{ Req.Query.Body_part }} too!
</p>


{{!-- {{ req.query.adverb }}
{{ req.query.noun }}
{{ req.query.liquid }}
{{ req.query.verb }}
{{ req.query.number }}
{{ req.query.noun_plural }}
{{ req.query.verb_2 }}
{{ req.query.adjective }}
{{ req.query.noun }}
{{ req.query.noun_plural }}
{{ req.query.illness }}
{{ req.query.occupation }}
{{ req.query.body_part_plural }}
{{ req.query.body_part }} --}}