{{#each category}}
</center><h1>{{this.name}}</h1>
<img src="{{image}}" class="img-fluid" alt="">
{{/each}}

<div class="row align-items-end">
{{#each products}}
<div class="col col-lg-3 card">
    <br> {{#each images}} {{#if @first}} 
     <img src="{{this.src}}" alt="" class="img-fluid card-img-top"> {{/if}} {{/each}}
    <div class="card-body">
    <strong class="card-title">Name: </strong> {{this.name}} <br>
    <strong>Price: </strong> $ {{this.price}} <br>
   <a href="/product/{{this.id}}" class="btn btn-primary">
   View Details </a>
    </div>
</div>
{{/each}}
</div>
