<h1>Home template</h1>
<img src="/finalimg1.jpg{{image}}" class="img-fluid" alt="">


<div class="owl-carousel owl-theme">
    <div class="item"><h4><img src="/finalimg1.jpg{{image}}" class="img-fluid" alt=""></h4></div>
    <div class="item"><h4><img src="/finalimg2.jpg{{image}}" class="img-fluid" alt=""></h4></div>
    <div class="item"><h4><img src="/finalimg3.jpg{{image}}" class="img-fluid" alt=""></h4></div>
    <div class="item"><h4><img src="/finalimg4.jpg{{image}}" class="img-fluid" alt=""></h4></div>
</div>

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <img src="/tops2.png" class="img-thumbnail" alt="...">
    </div>
    <div class="col">
      <img src="/dresses2.png" class="img-thumbnail" alt="...">
    </div>
    <div class="col">
      <img src="/jeans2.png" class="img-thumbnail" alt="...">
    </div>
  </div>
</div>





